<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img *ngIf="profile.profilePic" [src]="profile.profilePic" height="100%">
                    <div *ngIf="!profile.profilePic" style="font-size: 90px;color: teal;"><b>{{profile.name[0] | uppercase}}</b></div>
                </div>
                <h3 class="title">{{profile.name}}</h3>
                <!-- <p class="category">Photographer</p> -->
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="section section-team text-center">
    <div class="container">
        <h2 class="title">Team</h2>
        <div class="team">

            <ngx-org-chart [nodes]="nodes" direction="vertical" (itemClick)="test($event)"></ngx-org-chart>
            <a href="register" class="btn btn-outline-default btn-primary btn-round">Click here to add agents</a>

        </div>
    </div>
</div>